.cabeçalho{
	background-color: lightblue;
	text-align: center;
	text-shadow: 1px 1px 2px blue;
	font-family: 'Turret Road', cursive;
	font-size: 50px;
	padding: 30px;
}
.navbar{
	font-family: 'Inconsolata', monospace ; 
	font-size: 25px ;
	padding: 5px;
}
.destaque {
	background-color: pink;
	max-width: 800px;
	
}
.atualizacoes{
	background-color: green;
	max-width: 800px;
	
}
.nav-item{
	border: 2px solid blue;
	border-radius: 20px;
	
}
.navbar-nav,
.mr-auto {

flex: 1;
margin: 5px !important;
display: flex;
justify-content: space-evenly;
}