body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.col-md-5{
    margin-top: 150px;
    background-color: white;
    padding: 20px;
}
input{
    margin-top: 20px;
    border: 2px solid black;
}
button{
    margin-top: 20px !important;
    float: left;
}
.success{
    border: 3px solid green;
}
.error{
    border: 3px solid red;
}
small{
    color: red;
    font-weight: bold;
    margin: 5px;
    text-align: start !important;
}
h1{
    font-weight: bolder;
    text-align: center;
}